{% extends 'base.html' %}


{% block title %}
    <title> Landing Page </title>
{% endblock title %}



{% block content %}
    
{{name}} <br>


{{name|upper}} <br>
{{name|lower}} <br>
{{name|title}} <br>
{{name|capfirst}} <br>


{% comment %}
    -----------------------------------------------
{% endcomment %}
    

{{name|length}} <br>
{{name |truncatechars:5}} <br>
{{name |truncatewords:2}} <br>


{% comment %}
    ----------------------------------------------------
{% endcomment %}

<pre>{{name | center:"150"}}</pre>
<pre>{{name | ljust:"150"}}</pre>
<pre>{{name | rjust:"150"}}</pre>


{% comment %}
    --------------------------------------------------
{% endcomment %}
    



    

{% endblock content %}
    
    

    